/* GLOBAL */
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin:0;
    text-align: center;
    background-color: #746969;
}
a{
    text-decoration: none;
}
a:visited,a:active{color: inherit;}

/* LOCATION */
.location-container{
    display: flex;
    float: right;
    padding: 10px;
}
.material-symbols-outlined{
    width: 20px;
    vertical-align: middle;
}
#loc{display: inline;}
/* TITLE */
.title-animation {
    background:#8f24c9;
    font-weight: bold;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s infinite forwards;
  }
@keyframes gradientAnimation {
    0%{background-color: #8f24c9;}
    50%{background-color: #1cf402;}
    100%{background-color: #8f24c9;}
    75%{background-color: #1cf402;}
    
}
.title{ 
    text-align: center; 
    font-family: "Audiowide";
    font-size: 40px;
    padding: 5px 0;
    margin: 0;
}
/* NAV BAR */
.nav-bar li:after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: #1cf402;
    display: block;
    opacity: 0;
    transition: linear .2s;
}
.nav-bar li:hover::after{
    opacity: 1;
}

.nav-bar{
    content: icon;
    display: inline-block;
    font-size: 30px;
    position: relative;
}
ul{
    text-align: center;
    padding: 0;
    margin: 0;
}
li{
    text-align: center;
    display: inline-block;
    padding:3px;
}
/* ABOUT TRANSITION */
.nav-bar li::cue{
    transition: all 3s ease;
}

/* SLIDESHOW */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-pictures img,video {
    width: 900px; 
    height: 500px; 
    object-fit: cover; 
}
.back,
.next
{
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
.back:hover,
.next:hover 
{
    background-color: rgba(0,0,0,0.8);
}