body{
    text-align: center;
    padding: 0;
    margin: 0
}
a:visited{
    color: inherit;
}
.sidebar{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: #111;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}

.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{color: rgb(59, 203, 3);}

.sidebar,
.closebtn{
    position:absolute;
    top:0;
    right: 25px;
    font-size: 36px;
}
#openbtn{
    font-size: 30px;
    cursor: pointer;
    padding: 10px 15px;
    float: left;
}



.location-container p{display: none;}

#pin{
    font-size: 30px;
    padding: 10px 15px;
    float: right;
}
.socials{
    width: 100%;
    color: red;
    display: flex;

}
footer{
    /* background-color: black; */
}
