@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Great+Vibes&display=swap");
:root {
  --primary-color: #4e0a8b;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin-top: 0px;
  padding-top: 30px;
  font-size: 25px;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 39%;
  background: black;
  color: white;
}
.navbar li {
  list-style-type: none;
  display: inline-flex;
}
.navbar li a {
  text-decoration: none;
  color: white;
  padding: 30px;
  font-size: 25px;
  transition: 0.3s;
}
.navbar li a:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}
.navbar h1 span {
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  color: var(--primary-color);
}

.material-symbols-outlined {
  display: none;
}

.hero {
  width: 100%;
  overflow: hidden;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}
.slideshow-container .pictures {
  display: none;
  width: 100%;
}

.pictures img,
.pictures video {
  width: 100%;
  height: 500px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.prev-btn,
.next-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
  height: 90%;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.next-btn {
  right: 0;
}

.about {
  background: grey;
}

.about-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.profile-and-text {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-pic img {
  height: 200px;
  width: auto;
}

.about-paragraph {
  text-align: left; /* Align text to the left */
  max-width: 500px; /* Set a maximum width for the paragraph */
}

.review-container {
  width: 100%;
  padding-top: 20px;
}

@media only screen and (max-width: 640px) {
  .material-symbols-outlined {
    color: white;
    display: block;
    font-size: 30px;
    cursor: pointer;
  }
  .material-symbols-outlined:hover {
    color: var(--primary-color);
  }
  .navbar {
    padding: 0;
  }
  .navbar .menu-btn {
    width: 250px;
    padding: 20px;
    color: blue;
  }
  .navbar .nav-menu {
    cursor: pointer;
    padding-left: 20px;
  }
  .navbar nav {
    position: fixed;
    z-index: 999;
    width: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    background: black;
    overflow-x: hidden;
    transition: 0.7s;
    display: block;
  }
  .navbar nav a {
    display: block;
    padding: 30px;
    font-size: 50px;
  }
  .navbar #close-btn {
    font-size: 50px;
    padding: 10px;
  }
  .location a {
    text-decoration: none;
  }
  .about-container {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */