@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Great+Vibes&display=swap");

:root {
  --primary-color: #4e0a8b;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin-top: 0px;
  padding-top: 30px;
  font-size: 25px;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: black;
  color: white;

  li {
    list-style-type: none;
    display: inline-flex;
    a {
      text-decoration: none;
      color: white;
      padding: 30px;
      font-size: 25px;
      transition: 0.3s;
      &:hover {
        color: var(--primary-color);
        transform: scale(1.1);
      }
    }
  }
  .title {
    span {
      font-family: "Great Vibes", cursive;
      font-size: 40px;
      color: var(--primary-color);
    }
  }
}

.material-symbols-outlined {
  display: none;
}

.hero {
  width: 100%;
  overflow: hidden;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;

  .pictures {
    display: none;
    width: 100%;
  }
}

.pictures img,
.pictures video {
  width: 100%;
  height: 500px;
  display: block;
  object-fit: cover;
}

.prev-btn,
.next-btn {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  height: 90%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.9s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next-btn {
  right: 0;
}

.about {
  background: grey;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px
}


.profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background: black;

  p {
    font-size: 30px;
    padding: 20px 20px;
    text-align: center;
    color: white;
  }
}

.about-paragraph {
  text-align: left;
  max-width: 500px;
}

.review-container {
  width: 100%;
  padding-top: 20px;
}

.event-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
  padding: 30px;
  overflow: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}
.event {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 2px;
  width: 300px;
  height: 400px;
  scroll-snap-align: center;
  margin: 0 5px;
}

@media only screen and (max-width: 640px) {
  .material-symbols-outlined {
    color: white;
    display: block;
    font-size: 30px;
    cursor: pointer;
    &:hover {
      color: var(--primary-color);
    }
  }
  .navbar {
    padding: 0;
    .menu-btn {
      width: 250px;
      padding: 20px;
      color: blue;
    }

    .nav-menu {
      cursor: pointer;
      padding-left: 20px;
    }

    nav {
      position: fixed;
      z-index: 999;
      width: 0;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 0;
      background: black;
      overflow-x: hidden;
      transition: 0.7s;
      display: block;
      a {
        display: block;
        padding: 30px;
        font-size: 50px;
      }
    }

    #close-btn {
      font-size: 50px;
      padding: 10px;
    }
  }
  .location a {
    text-decoration: none;
  }

  .about-container {
    display: block;
    padding: 30px;
  }
  .profile-pic {
    margin: 0 auto;
  }

  .event {
    width: 200px;
    height: 300px;
  }
}
